body{
margin:auto;
height: 100%; 
width: 100%; 
}

/* #sleeps{
  background: linear-gradient(#2427c8, #bb21c6, #dc2f85);
  background-repeat: repeat;
} */

.background{
  background-image: url("./images/Art.gif");
  opacity: 0.7;
  background-size: auto;
}

h1{
    font-family: 'Jersey 10';
    font-size: 80px;
    color:#FFFFFF;
    text-shadow: 8px 8px #000000;
    text-align: center;
    margin: 10px; 
}

.metrics{
    border-color: black;
    border-style: dotted;
    border-width: 5px;
    width: 250px;
    height: 100px;
    margin-top: 10px;
    margin-inline-start: 620px;
    padding-left: 20px;
    align-content:center;
    background-color: rgba(19, 16, 16, 0.566);
    color: white; 

}

.activityButtons{
    margin-top: 25px;
    margin-inline-start:610px;
}

#egg{
  margin-inline-start: 610px;
}

#fox1, #fox2, #fox3{
  margin-inline-start: 610px;
}

.hoverEffect {
    animation-name: floating;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}


@keyframes floating {
  from {
      transform: translate(0,0px)
  }

  65% {
      transform: translate(0,15px)
  }

  to {
      transform: translate(0,0px)
  }
}
